<!DOCTYPE html>
<html>
<head>
	@Scripts.Render("~/bundles/js")
	@Styles.Render("~/bundles/css")
	@RenderSection("head", required: false)
	<title>@ViewBag.Title</title>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<div class="container-fluid">
			@Html.ActionLink(
				linkText: "Contacts",
				controllerName: "Contacts",
				actionName: "Index",
				htmlAttributes: new { @class = "navbar-brand" },
				routeValues: null)
		</div>
	</nav>

	<div class="container">
		@RenderBody()
	</div>

</body>
</html>
